@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:ital@1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue-500: #4292BF;
    --blue-800: #357599;
    --write: #fff;
    --black: #000;
    --gray-500: #817E7E;
    --gray-800: #484848;
}